.buy {
    background: green;
    border: 0;
    text-align: center;
    font-size: 14px;
    color: #FFF;
    padding: 7px 17px;
    border-radius: 20px;
    cursor: pointer;
}

.rowFooter {
    td {
        border-top: 2px solid #CCC;
    }
}

.colPrice {
    padding: 20px 10px;
}
