.menu {
    background: #FFF;
    &Navigation {
        width: 880px;
        margin: 0 auto;
        padding: 20px 10px;
        &Link + &Link {
            display: inline-block;
            margin-left: 10px;
        }
        &Link {
            color: blue;
            &:active, &:hover, &:focus {
                color: blue;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}