.buttonSort {
    border: 0;
    background: none;
    cursor: pointer;
}

.icon {
    visibility: hidden;
    &Up {
        transform: rotate(180deg);
    }
    &Show {
        visibility: visible;
    }
}