.products {
    display: flex;
    flex-wrap: wrap;
    &Item {
        background: #FFF;
        margin: 10px;
        flex: 1 1 auto;
        width: 280px;
        &Caption {
            padding: 10px;
            margin: 0;
        }
        &Img {
            background: blue;
            width: 100%;
            height: 300px;
        }
        &Price {
            padding: 0 10px;
            margin: 0;
            font-weight: bold;
        }
        &Button {
            margin: 10px auto 20px;
            display: inherit;
            border-radius: 100px;
            color: #FFF;
            background: blue;
            border: 0;
            font-size: 14px;
            padding: 7px 12px;
            cursor: pointer;
        }
    }
}