.img {
    width: 80px;
    height: 80px;
    background-color: #CCC;
    border-radius: 100px; 
    display: inline-block;
    background-size: cover; 
}

.count {
    width: 30px;
    text-align: center;
}

.buttonDelete {
    display: inherit;
    border: 0;
    cursor: pointer;
    background: none;
    height: 25px;
    &Icon{
        width: 25px;
        height: 25px;
        fill: red;
    }
}

.body {
    &Count {
        text-align: center;
    }
    td {
        padding: 10px;
        &:first-child {
            text-align: center;
        }
    }
    &:hover td {
        background: #FFF;
    }
}